@page
@model IndexModel
@{
    ViewData["Title"] = "Filter Symbols";
}

<h2>Symbols</h2>

<form>
    <p>
        Name contains: <input type="text" name="SearchString">
        <input type="submit" value="Filter" />
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Symbol[0].Symbol)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Symbol[0].Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Symbol)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Symbol)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
            </tr>
        }
    </tbody>
</table>
